name: PhysX-JS-WebIDL - Release Library

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:
  build:
    name: Build PhysX-JS-WebIDL
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          lfs: true
          submodules: recursive

      - name: Set up Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose
      
      - name: Build Docker Environment
        run: sudo docker compose up
        
      - name: Build PhysX-JS-WebIDL
        run: sudo docker compose run --rm builder ./make.sh

#      - name: Create release
#        uses: ncipollo/release-action@v1
#        with:
#          allowUpdates: true
#          artifacts: "dist/*"
#          draft: true
#          updateOnlyUnreleased: true

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'

      - name: Update npm
        run: npm install -g npm@latest
#      - name: Run npm ci
#        working-directory: ./dist
#        run: npm ci
      - name: Publish to npmjs
        working-directory: ./dist
        run: npm publish

